* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    background: aliceblue;
    border: 1px aliceblue solid;
}

.top {
    margin: 40px 60px 5px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
}

.top-item {
    background: lightgray;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: large;
    padding: 25px 10px;
}

.nav {
    padding: 25px 10px;
}

.body {
    margin: 5px 60px 5px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}

.body-item {
    background: lightgray;
    width: 23%;
}

.box {
    margin: 5px 60px 5px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-item {
    background: lightgray;
    width: 30%;
    text-align: center;
    padding-top: 90px;
}

.footer {
    margin: 5px 60px 40px;
    background: lightgray;
    height: 30px;
    text-align: center;
}

.footer-item {
    padding-top: 5px;
}