* {
    margin: 0;
    padding: 0;
}

.contain {
    box-sizing: border-box;
    background: aliceblue;
    border: 1px aliceblue solid;
}

.top {
    margin: 40px 60px 5px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
}

.top-item {
    background: lightgray;
    width: calc(50% - 10px);
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: large;
    padding: 25px 10px;
}

.nav {
    padding: 25px 10px;
}

.body {
    margin: 5px 60px 5px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.body-item {
    background: lightgray;
    width: calc(100% / 4 - 20px);
}

.box {
    margin: 5px 60px 5px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box-item {
    background: lightgray;
    width: calc(100% / 3 - 13px);
    text-align: center;
    padding-top: 90px;
}

.footer {
    margin: 5px 79px 40px 60px;
    background: lightgray;
    height: 30px;
    text-align: center;
}

.footer-item {
    padding-top: 5px;
}